<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profit Prophet: Analyze. Invest. Succeed.</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_rounded_red.png') }}">
    <!-- External CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    {% block page_specific_styles %}{% endblock %}
</head>
<body id="baseBody">
    <!-- Main Navigation Sidebar -->
    <nav>
        <div class="nav-wrapper main-color">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large sidenav-left"><i class="material-icons">Menu</i></a>
            <a href="/" class="brand-logo center">
                <img src="{{ url_for('static', filename='images/logo_rounded_white.png') }}" alt="Logo" style="height: 40px; vertical-align: middle; margin-right: 5px; margin-bottom: 5px;">
                Profit Prophet
            </a>
            <a href="#" data-target="login-slide-out" class="sidenav-trigger right show-on-large sidenav-right"><i class="material-icons">Account</i></a>
        </div>
    </nav>
    <!-- Features Side Navigation -->
    <ul id="slide-out" class="sidenav sidenav-left">
        <li><a href="/">
            <i class="fas fa-home left"></i>Home
        </a></li>
        <li><a href="/explore">
            <i class="fas fa-globe-americas left"></i>
            Explore
        </a></li>
        <li><a href="/search">
            <i class="fas fa-search left"></i>
            Property Search
        </a></li>
        {% if current_user.is_authenticated %}
        <li><a href="/saved">
            <i class="fas fa-heart left"></i>
            Saved
        </a></li>
        {% endif %}
    </ul>
    <!-- Login Side Navigation -->
    <ul id="login-slide-out" class="sidenav sidenav-right">
        {% if current_user.is_authenticated %}
        <li><a href="/logout">
            <i class="fas fa-sign-out-alt left"></i>
            Logout
        </a></li>
        <li><a href="/profile">
            <i class="fas fa-user-circle left"></i>
            Your Profile
        </a></li>
        {% else %}
        <li><a href="/login">
            <i class="fas fa-user left"></i>
            Login
        </a></li>
        {% endif %}
    </ul>

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/base.js') }}"></script>
</body>
</html>
