<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listings Market Analyzer Home</title>
    <!-- External CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    {% block page_specific_styles %}{% endblock %}
</head>
<body id="baseBody">
    <!-- Page navigation sidebar goes here -->
    <nav>
        <div class="nav-wrapper main-color">
            <a href="/" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">Menu</i></a>
            <a href="/" class="brand-logo center">Listings Market Analyzer</a>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/search">Property Search</a></li>
    </ul>

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
