{% extends 'base.html' %}

{% block page_specific_styles %}
<link href="{{ url_for('static', filename='styles/forms.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/tooltip.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/table.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <!-- Property Search Form -->
    <form id="propertyForm">

        <!-- Region Selection -->
        <div class="input-field form-element">
            <select id="region" name="region">
                <option value="ANY_AREA" selected>Any</option>
                <option value="LAKELAND_AREA">Lakeland Area</option>
                <option value="SOUTH_FLORIDA_AREA">South Florida Area</option>
            </select>
            <label for="region">Region:</label>
        </div>

        <!-- Home Type Selection -->
        <div class="input-field form-element">
            <select id="home_type" name="home_type">
                <option value="ANY" selected>Any</option>
                <option value="LOT">Lot</option>
                <option value="SINGLE_FAMILY">Single Family</option>
                <option value="TOWNHOUSE">Townhouse</option>
                <option value="CONDO">Condo</option>
                <option value="MULTI_FAMILY">Multi Family</option>
            </select>
            <label for="home_type">Home Type:</label>
        </div>

        <!-- Year Built Input -->
        <div class="input-field form-element">
            <label for="year_built">Year Built After:</label>
            <input type="number" id="year_built" name="year_built" value="2000">
        </div>

        <!-- Max Purchase Price Input -->
        <div class="input-field form-element">
            <label for="max_price">Max Purchase Price:</label>
            <input type="number" id="max_price" name="max_price" value="1000000">
        </div>

        <!-- City Name Input -->
        <div class="input-field form-element">
            <label for="city">City Name (Optional):</label>
            <input type="text" id="city" name="city" value="">
        </div>

        <!-- Waterfront View Toggle -->
        <div class="input-field">
            <div class="switch form-element">
                <label>
                    Include All
                    <input type="checkbox" id="is_waterfront">
                    <span class="lever"></span>
                    Exclude Non-Waterfront
                </label>
            </div>
        </div>

        <!-- Positive Cashflow Toggle -->
        <div class="input-field">
            <div class="switch form-element">
                <label>
                    Include All
                    <input type="checkbox" id="is_cashflowing">
                    <span class="lever"></span>
                    Exclude Negative Cashflow
                </label>
            </div>
        </div>

        <!-- Number of Deals Input -->
        <div class="input-field form-element">
            <label for="num_properties_per_page">Number of Properties Per Page:</label>
            <input type="number" id="num_properties_per_page" name="num_properties_per_page" value="10">
        </div>

        <!-- Form Submit Button -->
        <button class="btn waves-effect waves-light main-color" id="submitBtn" type="button">
            <i class="material-icons right">Explore Properties</i>
        </button>
    </form>
</div>

<!-- Results Table -->
<div class="scrolling-content">
    <div class="fullscreen-div-padding" id="resultsTable"></div>
</div>

<!-- Results Navigation and Page Indicator -->
<div class="navigation-wrapper">
    <div id="navigationButtons" class="navigation-buttons container" style="visibility: hidden;">
        <span class="pagination-container">
            <button id="prevPageBtn" class="btn waves-effect main-color navigation-button">Previous</button>
        </span>

        <!-- Page Indicator -->
        <span id="pageIndicator" class="pagination-container">Page 1</span>

        <span class="pagination-container">
            <button id="nextPageBtn" class="btn waves-effect main-color navigation-button">Next</button>
        </span>
    </div>
</div>

<!-- External JavaScript -->
<script src="{{ url_for('static', filename='tooltipUtil.js') }}" defer></script>
<script src="{{ url_for('static', filename='explore.js') }}"></script>
{% endblock %}
