{% extends 'base.html' %}

{% block page_specific_styles %}
<link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <!-- Home Page -->
    <h1>Welcome to the Listings Market Analyzer</h1>
    <p class="flow-text">
        Discover powerful insights into the real estate market with our advanced analysis tools. Designed for both new investors and seasoned professionals, our platform helps you uncover investment opportunities and assess property potentials efficiently.
    </p>
    
    <h2>Why Use Our Platform?</h2>
    <p class="flow-text">
        Our platform simplifies the complexity of real estate data to provide you with easy-to-understand insights and actionable advice. By integrating comprehensive market data and predictive analytics, we enable you to:
        <ul>
            <li>Evaluate investment viability through intuitive visualizations and automated analysis.</li>
            <li>Access real-time data to stay ahead in fast-moving markets.</li>
            <li>Compare potential investments against market benchmarks to make informed decisions.</li>
        </ul>
    </p>

    <h2>How It Works</h2>
    <p class="flow-text">
        Start by using our Direct Search to look up specific properties or dive deeper with the Explore feature to sift through market trends and historical data. Here’s how you can benefit:
        <ul>
            <li><strong>Direct Search:</strong> Instantly retrieve detailed information on any listed property.</li>
            <li><strong>Explore:</strong> Analyze broader market trends to identify areas with high growth potential.</li>
        </ul>
    </p>

    <h2>Ready to Dive In?</h2>
    <p class="flow-text">
        Whether you're assessing a single property or exploring broader market dynamics, our platform equips you with the tools to perform detailed analyses that drive your investment decisions. Get started today to transform the way you evaluate real estate.
    </p>
</div>
{% endblock %}
