{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Home Page -->
    <h1>Welcome to the Listings Market Analyzer</h1>
    <p class="flow-text">Explore the insights into the real estate market with a focus on investment opportunities and property analysis. Dive deep into metrics that matter and make informed decisions.</p>
    
    <h2>Understanding Key Metrics</h2>
    <p class="flow-text">Our platform provides a comprehensive analysis of listings through several critical metrics. Here’s a brief overview to help you navigate and interpret the data:</p>

    <ul class="collection">
        <li class="collection-item">Adjusted Cash on Cash (CoC): Reflects the return on investment for the cash invested, adjusted for vacancy rates and maintenance costs. A higher CoC indicates a better return.</li>
        <li class="collection-item">Rental Income: The monthly income you can expect from renting out the property, after accounting for vacancy rates and maintenance costs.</li>
        <li class="collection-item">Breakeven Price: The purchase price at which the rental income covers all the property's monthly costs, leading to a net zero cash flow. This metric helps in assessing the financial risk and viability of an investment.</li>
        <li class="collection-item">S&P Competitive Price: A comparative metric indicating the price at which an investment in the property would theoretically yield returns competitive with the S&P 500 index. This helps in comparing real estate investment with stock market opportunities.</li>
        <li class="collection-item">Cap Rate: Represents the rate of return on a real estate investment property based on the income that the property is expected to generate.</li>
        <li class="collection-item">Prepaids: Costs paid in advance at the closing of a property purchase. Examples include prepaid real estate taxes, homeowners insurance, and mortgage insurance.</li>
        <li class="collection-item">Adjusted values: These values account for additional factors such as vacancy rates and ongoing maintenance, providing a more realistic outlook on potential returns and costs.</li>
        <li class="collection-item">Beta and Alpha: Metrics used to compare the property's performance against the broader market. Beta measures the volatility or risk, whereas Alpha measures the excess return or value added by the investment compared to the benchmark index.</li>
    </ul>
    
    <h2>Getting Started</h2>
    <p class="flow-text">Use our Explore and Direct Search features to analyze specific properties or dive into market trends. Whether you’re an experienced investor or new to real estate, our tools are designed to provide you with actionable insights.</p>
</div>
{% endblock %}
