{% extends 'base.html' %}

{% block page_specific_styles %}
<link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/forms.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Home Page -->
<main class="container">
    <!-- Landing Section -->
    <section class="hero-section" style="background: url('/static/images/home_scott_webb.webp') no-repeat center center/cover;">
        <div class="hero-content text-center">
            <h1 class="center">Welcome to Profit Prophet</h1>
            <p class="flow-text">
                Unlock Intelligent Real Estate Investment Decisions with Profit Prophet.
                Harness the power of data science and AI with Profit Prophet, your one-stop platform for real estate analysis and investment insights.
                Designed for both new investors and seasoned professionals, our platform helps you uncover investment opportunities and assess property potentials efficiently.
            </p>
        </div>
    </section>

    <div class="spacer"></div>

    <!-- About Section -->
    <section class="hero-section" style="background: url('/static/images/invest_tierra_mallorca.webp') no-repeat center center/cover;">
        <div class="hero-content text-center">
            <h2 class="center">How It Works</h2>
            <p class="flow-text">
                Start by using our Explore feature to sift through market trends and historical data or use our Direct Search to look up specific properties.
                Here’s how you can benefit:
                <ul class="fa-ul">
                    <li class="custom-li"><a href="/explore"><span class="fa-li"><i class="fas fa-chart-bar"></i></span><strong>Explore:</strong> Analyze broader market trends to identify areas with high growth potential.</a></li>
                    <li class="custom-li"><a href="/search"><span class="fa-li"><i class="fas fa-search"></i></span><strong>Direct Search:</strong> Instantly retrieve detailed information on any listed property.</a></li>
                </ul>
            </p>
        </div>

        <div class="spacer"></div>

        <!-- Why Use Our Platform Section -->
        <div class="hero-content text-center">
            <h2 class="center">Why Use Our Platform?</h2>
            <p class="flow-text">
                Our platform simplifies the complexity of real estate data to provide you with easy-to-understand insights and actionable advice. By integrating comprehensive market data and predictive analytics, we enable you to:
                <ul class="fa-ul">
                    <li class="custom-li"><span class="fa-li"><i class="fas fa-chart-line"></i></span>Evaluate investment viability through intuitive visualizations and automated analysis.</li>
                    <li class="custom-li"><span class="fa-li"><i class="fas fa-clock"></i></span>Access real-time data to stay ahead in fast-moving markets.</li>
                    <li class="custom-li"><span class="fa-li"><i class="fas fa-balance-scale"></i></span>Compare potential investments against market benchmarks to make informed decisions.</li>
                </ul>
            </p>
        </div>
    </section>

    <div class="spacer"></div>

    <!-- Contact Section -->
    <section class="hero-section" style="background: url('/static/images/nightstand_benjamin_voros.webp') no-repeat center center/cover;">
        <div class="hero-content text-center">
            <h2 class="center">Ready to Dive In?</h2>
            <p class="flow-text">Whether you're assessing a single property or exploring broader market dynamics, our platform equips you with the tools to perform detailed analyses that drive your investment decisions. Get started today to transform the way you evaluate real estate.</p>
        </div>

        <div class="spacer"></div>

        <div class="hero-content text-center">
            <h2 class="center">Contact Us</h2>
            <p class="flow-text">
                Our features are currently in an experimental phase. If you encounter any issues, please let us know by filling out the form below.
                <!-- Contact Form for Reporting Issues -->
                <form id="issueReportForm" class="container">
                    <div class="input-field">
                        <input id="user_email" type="email" name="user_email" required>
                        <label for="user_email">Your Email:</label>
                    </div>
                    <div class="input-field">
                        <textarea id="issue_description" class="materialize-textarea" name="issue_description" required></textarea>
                        <label for="issue_description">Describe the Issue:</label>
                    </div>
                    <button id="reportIssueBtn" class="btn waves-effect waves-light main-color" type="submit">Report Issue</button>
                </form>
            </p>
        </div>
    </section>
</main>

<!-- Modal Structure for Confirmation Messages -->
<div id="confirmationModal" class="modal" tabindex="-1">
    <div class="modal-content">
        <h4>Submission Confirmation</h4>
        <p>Your issue has been successfully reported. Thank you for your feedback!</p>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn waves-effect waves-light">OK</button>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
{% endblock %}
