{% extends 'base.html' %}

{% block page_specific_styles %}
<link href="{{ url_for('static', filename='styles/forms.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/flash-message.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container login-container">
    <div class="login-box">
        <h2 class="login-title center">Login to Your Account</h2>
        <div class="spacer"></div>
        <form id="loginForm" class="login-form">
            <div class="input-field">
                <input id="email" type="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <button id="loginBtn" class="btn waves-effect waves-light main-color" type="submit">Login</button>
            <div data-flash-area="login" class="message-container"></div>
        </form>
        <div class="center">
            Don't have an account? <a href="/register">Register here</a>
            <br>
            Forgot your password? <a href="/reset-password">Reset it</a>
        </div>
    </div>
</div>
<script type="module" src="{{ url_for('static', filename='scripts/util/flashMessageHandler.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}
