{% extends 'base.html' %}

{% block page_specific_styles %}
<link href="{{ url_for('static', filename='styles/forms.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/register.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/flash-message.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container login-container">
    <div class="login-box">
        <h2 class="login-title center">Register for an Account</h2>
        <div class="spacer"></div>
        <form id="registerForm" class="login-form">
            <!-- Step 1: Personal Information -->
            <div id="formStep1">
                <h2>Personal Information</h2>
                <div class="form-element-spacer"></div>
                <div class="input-field">
                    <input id="first_name" type="text" name="first_name" value="" required>
                    <label for="first_name">First Name:</label>
                </div>
                <div class="input-field">
                    <input id="last_name" type="text" name="last_name" value="" required>
                    <label for="last_name">Last Name:</label>
                </div>
                <label for="is_professional">Account Type:</label>
                <div class="input-field">
                    <div class="switch form-element">
                        <label>
                            Personal
                            <input type="checkbox" id="is_professional">
                            <span class="lever"></span>
                            Professional
                        </label>
                    </div>
                </div>
                <div class="form-element-spacer"></div>
            </div>
            <!-- Step 2: Account Credentials -->
            <div id="formStep2" style="display:none;">
                <h2>Account Credentials</h2>
                <div class="form-element-spacer"></div>
                <div class="input-field">
                    <input id="email" type="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-field">
                    <input id="confirmation_password" type="password" name="confirmation_password" required>
                    <label for="confirmation_password">Confirm Password</label>
                </div>
                <div class="form-element-spacer"></div>
            </div>
            <div class="form-controls">
                <!-- Navigation buttons -->
                <div class="button-group">
                    <button type="button" class="btn waves-effect waves-light main-color" id="backBtn" style="display: none;">Back</button>
                    <button type="button" class="btn waves-effect waves-light main-color" id="nextBtn">Next</button>
                    <button id="registerBtn" class="btn waves-effect waves-light main-color" type="submit" style="display: none;">Register</button>
                </div>
            
                <!-- Step Indicators -->
                <div class="step-indicators">
                    <span id="dot1" class="step-dot active"></span>
                    <span id="dot2" class="step-dot"></span>
                </div>
            </div>
            <div data-flash-area="register" class="message-container"></div>
        </form>
        <div class="center">
            Already have an account? <a href="/login">Log in</a>
        </div>
    </div>
</div>
<script type="module" src="{{ url_for('static', filename='scripts/util/flashMessageHandler.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/register.js') }}"></script>
{% endblock %}
