{% extends 'base.html' %}

{% block content %}
<!-- Property Search Form -->
<div class="container">
    <form id="propertyForm">
        <div class="input-field form-element">
            <input id="property_id" type="text" name="property_id" required>
            <label for="property_id">Enter Property ID:</label>
        </div>

        <button class="btn waves-effect waves-light main-color" id="submitBtn" type="button">
            <i class="material-icons right">Search by Property ID</i>
        </button>
    </form>
</div>

<!-- Results will be displayed here -->
<div class="fullscreen-div-padding" id="resultsTable"></div>

<!-- External JavaScript -->
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
