{% extends 'base.html' %}

{% block page_specific_styles %}
<link href="{{ url_for('static', filename='styles/forms.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/tooltip.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/table.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Property Search Form -->
<div class="container content-top-spacing">
    <form id="propertyForm">
        <div class="input-field form-element">
            <input id="property_id" type="text" name="property_id" required>
            <label for="property_id">Enter Property ID:</label>
        </div>

        <button class="btn waves-effect waves-light main-color" id="submitBtn" type="button">
            <i class="material-icons right">Search by Property ID</i>
        </button>
    </form>
</div>

<!-- Results will be displayed here -->
<div class="scrolling-content">
    <div class="fullscreen-div-padding" id="resultsTable"></div>
</div>

<!-- External JavaScript -->
<script src="{{ url_for('static', filename='tooltipUtil.js') }}" defer></script>
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
