/* Add Materialize CSS via CDN */
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');


/* Custom styles */

:root {
    --main-blue: #0073e7;
}

body, nav {
    margin: 0;
    padding: 0;
}

.main-color {
    background-color: var(--main-blue) !important;
}

.fullscreen-div {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
    padding: 0;
}

.fullscreen-div-padding {
    margin-left: 20px;
    margin-right: 20px;
}

.form-element {
    margin-bottom: 20px;
}

.content-top-spacing {
    margin-top: 50px;
}

/* Custom styles for table columns */
.table-bordered td:not(:last-child) {
    border-right: 1px solid #e0e0e0; /* Change the color as needed */
}
