/* Basic Alert Styling. */
.alert {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 10px; /* Space between multiple alerts */
    border-radius: 5px; /* Optional: rounded corners for a smoother look */
    color: var(--background-white);
    background-color: #dc3545;
}

/* Alert Categories. */
.alert.info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.alert.warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.alert.error {
    background-color: #dc3545;
    border-color: #dc3545;
}

.alert.success {
    background-color: #28a745;
    border-color: #28a745;
}


/* Alert Animations. */
.alert.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.alert.scaleUp {
    animation: scaleUp 0.5s ease-in-out;
}

.alert.slideDown {
    animation: slideDown 0.5s ease-in-out;
}

.alert.shake {
    animation: shake 0.75s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleUp {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}
