.input-field {
    margin-bottom: 20px;
}

.navigation-wrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: auto;
}

.navigation-buttons {
    display: inline-flex; /* Only take as much space as needed */
    justify-content: center; /* Center the buttons within the navigation bar */
    align-items: center; /* Align items vertically */
    width: auto;
}

.navigation-buttons.container {
    width: auto; /* Prevent full-width application */
    margin: 0 auto; /* Center the navigation buttons if that's desired */
}

.pagination-container {
    margin-left: 20px;
    margin-right: 20px;
}

.table-bordered td:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}

.btn:focus {
    background-color: var(--main-blue); /* Keep the normal background color */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* Subtle white outline */
}

.total-count {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--default-shadow);
    text-align: center;
    color: var(--text-color);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
