.form-element {
    margin-bottom: 20px; /* This increases the space between form elements */
}

/* If you're using a spacer div, you might want to adjust or remove it, as the CSS margin will handle spacing */
.form-element-spacer {
    height: 10px;
}

/* Adjust the form container width if necessary to prevent too much horizontal stretch */
.form-container {
    width: 50%; /* This is just an example, adjust as needed */
    max-width: 500px; /* Prevents the form from getting too wide on larger screens */
    margin: auto; /* This will center the form in its parent container */
}

.navigation-wrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
    width: auto;
}

.navigation-buttons {
    display: inline-flex; /* Only take as much space as needed */
    justify-content: center; /* Center the buttons within the navigation bar */
    align-items: center; /* Align items vertically */
    width: auto;
}

.navigation-buttons.container {
    width: auto; /* Prevent full-width application */
    margin: 0 auto; /* Center the navigation buttons if that's desired */
}

.pagination-space {
    margin-left: 20px;
    margin-right: 20px;
}

.table-bordered td:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}

.btn:focus {
    background-color: var(--main-color); /* Keep the normal background color */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* Subtle white outline */
}

.total-count {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--background-white);
    border-radius: var(--border-radius);
    box-shadow: var(--default-shadow);
    text-align: center;
    color: var(--text-color);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.message-container {
    margin-top: 20px;
    color: #d32f2f; /* Default error color */
    font-size: 1.2em;
}

.message-container.success {
    color: #388e3c; /* Success color */
}

.message-container.error {
    color: #d32f2f; /* Error color */
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.message-container.error {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
}
