.container {
    margin: auto;
    padding: 20px;
    width: auto; /* Adjusts to the content width */
    max-width: 100%; /* Prevents it from extending beyond the viewport width */
    overflow-x: auto; /* Allows horizontal scrolling */
}

h1, h2 {
    color: var(--main-blue);
}

.flow-text {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Additional styles for unordered lists */
ul {
    list-style-type: disc; /* Ensure bullets are shown */
    margin-left: 20px; /* Provide some indentation for the list */
    margin-bottom: 20px; /* Space after the list */
}

li {
    margin-bottom: 10px; /* Space between list items */
}


