.form-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button-group {
    margin-right: auto; /* Ensures buttons stay left */
}

.step-indicators {
    position: absolute; /* Positioned relative to the nearest positioned ancestor */
    left: 50%; /* Centering technique */
    transform: translateX(-50%); /* Precise center alignment */
    display: flex;
    gap: 10px;
}

.step-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb; /* Default color */
    border-radius: 50%;
    display: inline-block;
}

.step-dot.active {
    background-color: var(--main-color); /* Active step color */
}
