{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Set New Password</h2>
    <form id="resetPasswordForm" action="/set-new-password/{{ token }}" method="post">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required placeholder="Enter new password">
        
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm new password">
        
        <button type="submit">Update Password</button>
    </form>
</div>
<script src="{{ url_for('static', filename='scripts/reset_password/set-new-password.js') }}" defer></script>
{% endblock %}
